@import "tailwindcss"



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

header {
    margin-right: 0;
}

.hamburger {
    display: none;
}

#banner .circle-img {
    left: 784px;
    top: 92px;
}

#banner .micro {
    left: 899px;
    top: 178px;
}

#banner .box {
    left: 1070px;
    top: 131px;
}

.section-heading {
    top: 581px;
    left: 697px;
}

.footer-container {
    left: 574px;
    top: -9px;
    text-align: center;
}

.sponsors-icon {
    margin-bottom: 25px;
}

@media screen and (max-width:576px) {
    .hamburger {
        display: inline;
    }

    .btn {
        display: none;
    }

    .nav-menu {
        display: none;
    }

    #banner .circle-img {
        left: 113px;
        top: 92px;
    }

    #banner .micro {
        left: 230px;
        top: 178px;
    }

    #banner .box {
        left: 386px;
        top: 131px;
    }

    .section-heading {
        top: 581px;
        left: 52px;
    }

    .section-heading p {
        text-overflow: ellipsis;
    }

    hr {
        max-width: 400px;
    }

    #rateing {
        grid-template-rows: repeat(2, minmax(0, 1fr));
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .section-cards {
        padding-left: 20px;
        padding-right: 20px;
    }

    .section-cards .card {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-row: span 1;
        grid-column: span 1;
        padding: 24px;
    }

    .feature-container {
        flex-direction: column;
    }

    .host-container {
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .host-text {
        text-align: center;
    }

    .host-icons {
        justify-content: center;
    }

    #footer {
        background-position: center;
        background-size: cover;
        height: 248px;

    }

    .footer-container {

        left: 7px;
        top: -6px;
        padding: 30px 20px;

    }

    .sponsors-icon {
        flex-wrap: wrap;
        padding: 0 96px;
        margin-bottom: 12px;
        gap: 6px;
    }

}

@media screen and (min-width:576px) and (max-width:993px) {

    #banner .circle-img {
        left: 323px;
        top: 92px;
    }

    #banner .circle-img {
        left: 111px;
        top: 92px;
    }

    #banner .micro {
        left: 441px;
        top: 178px;
    }

    #banner .micro {
        left: 230px;
        top: 178px;
    }

    .section-heading {
        left: 273px;
    }

    #banner .box {
        left: 600px;
    }
    #banner .box {
        left: 390px;
    }

    .feature-card {
        width: 275px;
    }

    iframe {
        width: 275px;
    }

    .footer-container {
        left: 234px;
        top: 105px;

    }

    .host-container {
        margin-left: 100px;
        margin-right: 100px;
    }

    #rateing {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        padding: 40px 113px;
    }

    .section-cards {
        margin-left: 100px;
        margin-right: 100px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .section-cards {
        margin-left: 100px;
        margin-right: 100px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }

    .card-1 {
        grid-row: span 2;
        padding: 40px;
    }
    .card-1 {
        grid-row: span 1;
        padding: 40px;
    }

    .card-2 {
        grid-column: span 2;
    }
    .card-2 {
        grid-column: span 1;
    }

    .card-3 {
        grid-column: span 2;
    }
    .card-3 {
        grid-column: span 1;
    }

    .card-4 {
        grid-column: span 2;
    }
    .card-4 {
        grid-column: span 1;
    }

    .footer-container {
        left: 8px;
        top: 7px;
    }

    .section-heading {
        left: 52px;
    }

}